header {
    background: var(--header);
    height: 37vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header img {
    margin-top: 1.6rem;
    margin-left: 16rem;
    width: 4.9rem;
    height: 3.0rem;
}

header div {
    width: 37rem;
    width: 74rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

header div h1 {
    font-size: clamp(20px, 3.6rem, 2vw);
    font-family: 'Archivo';
    font-weight: 700;
    color: var(--white);
    margin: 3.6rem 0 1.6rem;
    width: 37rem;
}

header div h2 {
    font-size: clamp(12px, 1.6rem, 2vw);
    font-family: 'Poppins';
    font-weight: 400;
    color: var(--white);
    width: 37rem;
}

.container-form {
    background: var(--white);
    width: 74rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -6rem;
    border-radius: .8rem .8rem 0 0;  
}

.container-form h1 {
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--gray-dark);
    margin: 5.6rem 6.2rem 1.6rem;
}

.container-form .separator {
    content: '';
    flex: 1;
    height: 1px;
    background: var(--border-form);
    margin: 0 6.2rem 2.4rem;
}

.container-form form {
    /* margin: 1.6rem 6.2rem 5.2rem; */
    display: flex;
    flex-direction: column;
}

.container-form form label {
    margin: .8rem 6.2rem 0;
}

.container-form form input, InputMask, textarea {
    margin: .8rem 6.2rem 2.4rem;
    height: 5.6rem;
    padding: .8rem;
    border: .1rem solid var(--border-form);
    border-radius: .8rem;
    background: var(--card-bottom);
}

.container-form form label, input, InputMask, textarea {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--gray-light);
}

.container-form form textarea {
    resize: vertical;
    min-height: 130px;
}

#Photo {
    display: none;
}

#file div {
    background: var(--card-bottom);
    width: 9.6rem;
    height: 9.6rem;
    border: .1rem dashed #96D2F0;
    border-radius: 2rem;
    margin: .8rem 0 2.4rem;
    position: relative;
    cursor: pointer;
}

#file div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container-form #submit {
    background: var(--card-bottom);
    width: 100%;
    border-radius: 0 0 .8rem .8rem;
}

.container-form #submit #content {
    margin: 4rem 6.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-form #submit #content div {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.container-form #submit #content div p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--gray-light);
}

.container-form #submit #content button {
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 0;
    color: var(--white);

    background: var(--green);
    height: 5rem;
    padding: 1.5rem 4.2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: 0.2s;
}

.container-form #submit #content button:hover {
    opacity: 0.7;
}

